* {
    box-sizing: border-box;
  }
  
  .clearfix::after {
    clear: both;
    content: "";
    display: block;
  }
  


body  {
  background: url("https://thumbs.dreamstime.com/z/background-african-ornament-abstract-ethnic-pattern-copy-space-template-greeting-card-invitation-poster-vector-file-51712928.jpg") center;

}

.navbar 
{   background-color: #777777; 
    float: right;
    word-spacing: 5px;  }

.image {
  margin-top: 5px; 
}



h1 { background-color: #4aaaa5; 
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-width: 20px; 
    line-height: 90px;
   margin: 0; }

p { background-color: #cccccc;
    padding: 20px; 
    margin-top: 5px;
}
footer { background-color: #666666;
        text-align: center;
    margin-top:  70px; }