* {
    box-sizing: border-box;
  }
  
  .clearfix::after {
    clear: both;
    content: "";
    display: block;
  }
  


body  {
  background: url("https://newevolutiondesigns.com/images/freebies/retro-wallpaper-38.jpg") center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar 
/* {   {background-color: #777777; } */
  {float: right;
      }

.image {
  margin-top: 25px; 
  max-width: 100%;
  max-height: 100%;
  border: 20px double rgb(107, 92, 92);
  color: rgb(131, 44, 102); 
  color: rgb(131, 32, 32);
  
}

.pics {

  
  margin-top: 20px;
}

.jumbotron {
  background-color: #4aaaa5; 
  height: 100px;
  margin-top: 10px;
}

h1 { 
  font-family: 'Abril Fatface', cursive; 
    font-size: 60px;
    margin: -40px;
    margin-left: 10px;
    color:black; 
}


p { 
    background-color: #cccccc;
    padding: 20px; 
    margin-top: 25px;
    font-size: 18px;
}

h2 {
     font-size: 30px;
    margin-left: 0px;
}

ul {
  font-size: 24px;
  list-style: none;
  margin-top: 30px;
}
.card { 
    margin-top: 25px;

}
footer { 
      background-color: #f1d062;
        text-align: center;
        position: sticky;
        margin-top: 375px;
        height: 10%;
        font-size: 17px;
       }